* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "PT Sans",sans-serif
}

.container {
    min-height: 100vh;
    min-width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(6,1fr);
    grid-template-areas: "sidebar header header header header""sidebar maincontent maincontent maincontent maincontent""sidebar maincontent maincontent maincontent maincontent""sidebar maincontent maincontent maincontent maincontent""sidebar maincontent maincontent maincontent maincontent""sidebar maincontent maincontent maincontent maincontent""sidebar maincontent maincontent maincontent maincontent"
}

.sidebar {
    background-color: #0093a7;
    grid-area: sidebar
}

.header,.sidebarcontent {
    display: flex;
    flex-direction: column
}

.sidebarcontent {
    justify-content: center;
    align-items: flex-start;
    font-size: 1.5rem;
    gap: 2rem;
    color: #fff;
    padding-left: 3rem;
    font-weight: 700
}

.sidebarcontent p:hover {
    color: #c2c2c2;
    cursor: pointer
}

.sidebarcontent h1 {
    margin-bottom: 2rem;
    padding-top: 2rem
}

.sidebarcontent img {
    filter: invert(100%) sepia(23%) saturate(0%) hue-rotate(306deg) brightness(101%) contrast(100%)
}

.sidebarcontent>p {
    display: flex;
    gap: 1rem;
    transition: .1s linear
}

.sidebarcontent>p.flex2 {
    margin-bottom: 3rem
}

.header {
    background-color: #fff;
    grid-area: header;
    padding: 1rem;
}

.sopra,.sopra1,.sopra1 form {
    display: flex;
    align-items: center
}

.sopra {
    justify-content: space-evenly;
    flex: 1
}

.sopra1,.sopra1 form {
    justify-content: center;
    gap: 2rem;
    font-size: 1.5rem
}

form input {
    width: 65rem;
    height: 2.5rem;
    border: .15rem solid #aaa;
    border-radius: .7rem;
    font-size: 1.5rem
}

form input:focus {
    border: 2px solid #00f
}

.sotto2 button,form button {
    cursor: pointer;
    transition: .2s linear
}

form button {
    background-color: #dfdfdf;
    transform: scale(1.2);
    width: 4rem;
    height: 2.1rem;
    border-radius: .6rem
}

form button:hover {
    background-color: #d8d8d8
}

.sotto {
    justify-content: space-around;
    flex: 1
}

.sotto,.sotto1,.sotto2 {
    display: flex;
    align-items: center
}

.sotto1 {
    gap: 2rem
}

.sotto2 {
    margin-left: 45rem
}

.sotto2 button {
    font-size: 1.5rem;
    margin: 1rem;
    width: 7rem;
    height: 3rem;
    border-radius: 2rem;
    background-color: #0093a7;
    color: #fff;
    font-weight: 700
}

.sotto2 button:hover {
    background-color: #046572
}

.imageplaceholder {
    max-width: 3rem;
    max-height: 3rem
}

.imageplaceholder2 {
    max-width: 5rem;
    max-height: 5rem
}

.maincontent {
    background-color: #e9e9e9;
    grid-area: maincontent
}

.contentcontainer {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 2rem;
    justify-content: space-between
}

.contentleft {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(auto-fit,1fr);
    gap: 2rem
}

.contentleft div {
    display: grid;
    border-left: .6rem solid orange;
    width: 33rem;
    justify-items: flex-start;
    padding: 2rem;
    border-radius: .6rem;
    background-color: #fff;
    box-shadow: 3px 5px 15px #6d6d6d;
    transition: .2s linear
}

.contentleft div:hover {
    background-color: #e2e2e2;
    cursor: pointer
}

.containerright,.right1,.right2 {
    display: flex;
    flex-direction: column
}

.containerright {
    align-items: center;
    gap: 2rem
}

.right1,.right2 {
    background-color: #fff;
    border: 2px solid #000;
    flex: 1;
    min-width: 22rem;
    max-width: 22rem;
    border-radius: .6rem;
    box-shadow: 3px 5px 15px #6d6d6d
}

.right1 {
    padding: 2rem;
    gap: .6rem
}

.right1>div:hover,.right2>div:hover {
    background-color: #dadada;
    cursor: pointer
}

.right1>div {
    border-bottom: 1px solid gray;
    flex: 1;
    transition: .2s linear;
    border-radius: 2px
}

.right2 {
    padding: 1rem
}

.right2>div {
    flex: 1;
    display: flex;
    align-items: center;
    gap: .6rem;
    border-radius: 20px
}

.bell,.right2>div {
    transition: .2s linear
}

.bell:hover {
    transform: scale(1.5);
    cursor: pointer
}