*{
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */
margin: 0px;
padding: 0px;
border: 0px;
font-family: 'PT Sans', sans-serif;
}

.container{
    min-height: 100vh;
    min-width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "sidebar header header header header"
    "sidebar maincontent maincontent maincontent maincontent"
    "sidebar maincontent maincontent maincontent maincontent"
    "sidebar maincontent maincontent maincontent maincontent"
    "sidebar maincontent maincontent maincontent maincontent"
    "sidebar maincontent maincontent maincontent maincontent"
    "sidebar maincontent maincontent maincontent maincontent";
}



.sidebar{
    background-color: rgb(0, 147, 167);
    grid-area: sidebar;
}

.maincontent{
    background-color: yellow;
    grid-area: maincontent;
}

.sidebarcontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.5rem;
    gap: 2rem;
    color: white;
    padding-left: 3rem;
    font-weight: bold;
}

.sidebarcontent p:hover{
    color: rgb(221, 221, 221);
    cursor: pointer;
}

.sidebarcontent h1{
    margin-bottom: 2rem;
    padding-top: 2rem;
}


.sidebarcontent img{
    filter: invert(100%) sepia(23%) saturate(0%) hue-rotate(306deg) brightness(101%) contrast(100%);
}

.sidebarcontent > p{
    display: flex;
    gap: 1rem;
    transition: .2s linear;
}

.sidebarcontent >p.flex2{
margin-bottom: 3rem;
}

.header{
    background-color: rgb(255, 255, 255);
    grid-area: header;
    display: flex;
    flex-direction: column;
}

.sopra{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    background-color: red;
}

.sotto {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    background-color: orange;
}

.sotto > div{
    display: flex;
}

.sopra > div{
    display: flex;
}

.sotto2{
    margin-left: 45rem;
}

.sotto2 button{
    font-size: 1.5rem;
    margin: 1rem;
    width: 7rem;
    height: 3rem;
    border-radius: 2rem;
    background-color: rgb(0, 147, 167);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: .2s linear;
}

.sotto2 button:hover{
    background-color: rgb(4, 101, 114);
}